%%-*- mode: erlang -*-
{deps, [
    {erlydtl, ".*", {git, "git://github.com/evanmiller/erlydtl.git", "master"}},
    {cowboy, ".*", {git, "git://github.com/extend/cowboy.git", "master"}},
    {eredis, ".*",   {git, "git://github.com/wooga/eredis.git", "master"}},
    {gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "master"}},
    {jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", "master"}}
]}.
